@model List<Room>
@{
    ViewData["Title"] = "Rooms";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<div id="background" data-bgimage="url(/Templates/seaside/images/gallery/gallery-item-7.jpg) fixed"></div>
<div id="content-absolute">

    <!-- subheader -->
    <section id="subheader" class="no-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Select</h4>
                    <h1>Rooms</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="section-main" class="no-bg no-top" aria-label="section-menu">
        <div class="container">
            <div class="row g-4">
                @foreach (var item in Model)
                {
                    <div class="col-lg-6">
                        <div class="de-room">
                        
                                <div class="d-image">
                                    <div class="d-label">only @item.RoomLeft room left</div>
                                    <div class="d-details">
                                        <span class="d-meta-1">
                                            <img src="~/Templates/seaside/images/ui/user.svg" alt="">@item.Capacity Guests
                                        </span>
                                        <span class="d-meta-2">
                                            <img src="~/Templates/seaside/images/ui/floorplan.svg" alt="">@item.RoomSize
                                        </span>
                                    </div>
                                <a asp-area="Guest" asp-controller="Room" asp-action="RoomSingle" asp-route-id="@item.Id">
                                        <img src="@item.Images[0].Image" class="img-fluid" alt="">
                                    </a>
                                </div>

                                <div class="d-text">
                                    <h3>@item.Name</h3>
                                <p>@(item.Overview.Length > 140 ? item.Overview.Substring(0, 140) + "..." : item.Overview)</p>
                                    <a asp-area="Guest" asp-controller="Room" asp-action="RoomSingle" asp-route-id="@item.Id"  class="btn-line"><span>Book Now For $@item.Price</span></a>
                                </div>
                        
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- subheader close -->
    <partial name="_LayoutPartial/_FooterPartial" />

</div>

